body {
  padding: 50px;
 /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
 font-family: 'Roboto', sans-serif;
/*  background: url('/images/lakeTahoe.jpg') no-repeat center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;*/
}

a {
  color: #00B7FF;
}


.backgroundImg{
  top: 0;
  z-index: -1;
  position: fixed;
  background: url('/images/lakeTahoe.jpg') no-repeat center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  height: 100%;
  width: 100%;
  left:0;
  right:0;
}
#middle{
  margin-top: 40%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: rgb(58,91,32);
  height:170%;

}
#middleImg{
  margin-top: 130%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: url('/images/yule.jpg')no-repeat center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  height:100%;
}
#next{
  margin-top: 170%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: rgb(32,50,91) ;
  height:100%;
  color: white;
}
nav {
 /*   width:300px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;*/
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {


}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
    font-size: 18px;
}

a.nav-active {
    color:purple;
}



.nav>li>a, .navbar-brand {
  color: white;
  transition: ease-in-out .75s;
}

ul.nav.navbar-nav li:hover{
   background: rgb(69,100,167);
   opacity: 0.6;
   color: white;
}
ul.nav.navbar-nav li a:hover{
   background: rgb(32,51,91);
   opacity: 0.5;
   color: white;
}
ul.nav.navbar li a:hover{
  background: pink;
}
#name>h1{
  font-size: 100px;
}
#name>h3{
  font-size: 40px;
}
#middle h1{
  font-size: 80px;
}

#portfolioContainer img{
  width: 450px;
  padding: 10px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    

}

#portfolioContainer img:hover{
  /* color: black ;
   background-color: #ff0;
   background: #cc638b;
   transition: 0.5s;*/
  -webkit-filter: grayscale(100%);

}

/*#portfolioContainer{
  display: flex;
flex: 1 1 0px;

}*/



.preview img{
  width: 90%;
}
.preview{
  padding-top: 60px;
  transition: 0.5s;
}