body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background: url('/images/lakeTahoe.jpg') no-repeat center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;*/
}

a {
  color: #00B7FF;
}


.backgroundImg{
  top: 0;
  z-index: -1;
  position: fixed;
  background: url('/images/lakeTahoe.jpg') no-repeat center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  height: 100%;
  width: 100%;
  left:0;
  right:0;
}
#middle{
  margin-top: 50%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: #fff;
  height:100%;

}
#middleImg{
  margin-top: 100%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: url('/images/yule.jpg')no-repeat center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  height:100%;
}
#next{
  margin-top: 150%;
  padding: 3%;
  position: absolute;
  left:0;
  right:0;
  background: pink;
  height:100%;
}
nav {
 /*   width:300px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;*/
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {

}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
}

a.nav-active {
    color:purple;
}



.nav>li>a, .navbar-brand {
  color: white;
  transition: ease-in-out .75s;
}

ul.nav.navbar-nav li:hover{
   background: rgb(69,100,167);
   opacity: 0.6;
   color: white;
}
ul.nav.navbar-nav li a:hover{
   background: rgb(32,51,91);
   opacity: 0.5;
   color: white;
}
ul.nav.navbar li a:hover{
  background: pink;
}