<div class="preview"> 
    <div class="text-center col-md-8">
               <img src="/images/downRiver.png">
    </div>

    <div class="well col-md-4">
               <h4>A Static Brouchure Page and Scheduler</h4>
               <li>Express</li>
               <li>node.js</li>
               <li>MONGODB</li>
               <li>Jade</li>
               <li>Heroku</li>
               <li><a href="https://fast-tundra-7833.herokuapp.com/home">Visit the Website</a></li>
               <a href="https://github.com/paulsiskind/Raft-Guide-Schedule-App"><i class="fa fa-github fa-2x"></i> GitHub Repo</a>

    </div>
</div>