<div class="preview">
  <div class="column">
    <div class="col-md-12">
      <div class="col-md-12 text-left title">
        <h2>Down River Adventures</h2>
      </div>
      <div class="row">
        <div class="text-center col-md-8">
          <img src="/images/downRiver.png">
        </div>
        <div class="well col-md-3">
          <h4>A Static Brochure Page and Scheduler</h4>
          <li>Express</li>
          <li>node.js</li>
          <li>MONGODB</li>
          <li>Jade</li>
          <li>Heroku</li>
          <li><a href="https://fast-tundra-7833.herokuapp.com/home">Visit the Website</a></li>
          <a href="https://github.com/paulsiskind/Raft-Guide-Schedule-App"><i class="fa fa-github fa-2x"></i> GitHub Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>