<div class="backgroundImg"></div>

<!-- <div class="container-fluid"> -->
    <div id="name">
        <h1>Paul D. Siskind</h1>
        <h3>Full-Stack Developer/Potter/Expedition Kayaker/Adventurer</h3>
    </div>


    <div id="middle">
     <h1><i class="fa fa-cog fa-spin fa-4x"></i>Portfolio</h1>
     <div id="portfolioContainer">
        <div class="upper col-md-12 text-center">
          <a href="http://theriverreport.herokuapp.com/"><img src="images/theriverreport.png"></a>
          <a href="http://powdr.heroku.com/"><img src="/images/powdr.png"></a>
        </div>
        <div class="lower col-md-12 text-center">
          <a href="https://urbansherpa.herokuapp.com/"><img src="images/urabansherpa.png"></a>
          <a href="https://fathomless-temple-3790.herokuapp.com/"><img src="/images/gSchoolGavette.png"></a>
          <a href="https://sleepy-stream-7242.herokuapp.com/"><img src="images/redditClone.png"></a>
        </div>
     </div>
    </div>
<!-- </div> -->

    <div id="middleImg">

      <p>Hello</p>

    </div>

    <div id="next">
      <p>Hi</p>

    </div>