<div class="backgroundImg"></div>

<!-- <div class="container-fluid"> -->
    <div id="name">
        <h1>Paul D. Siskind</h1>
        <h3>Full-Stack Developer/Potter/Expedition Kayaker/Adventurer</h3>
    </div>


    <div id="middle">
     <h1><i class="fa fa-cog fa-spin fa-4x"></i>Portfolio</h1>

     <span ng-show="theRiverbackground" ng-mouseleave="theRiver()">

        <div ng-include src= "'partials/theRiver.html'"></div>

     </span>

     <span ng-show="urbanSherpabackground" ng-mouseleave="urbanSherpa()">

        <div ng-include src= "'partials/urban.html'"></div>

     </span>

      <span ng-show="thepowdrbackground" ng-mouseleave="thepowdr()">

        <div ng-include src= "'partials/powdr.html'"></div>

     </span>

     <div id="portfolioContainer" ng-hide="urbanSherpabackground || theRiverbackground || thepowdrbackground">
        <div class="upper col-md-12 text-center">

          <span class="riverReport" ng-mouseover="theRiver()">
              <a href="http://theriverreport.herokuapp.com/"><img src="images/theriverreport.png"></a>
          </span>
          
          <span class="powdr" ng-mouseover="thepowdr()">
              <a href="http://powdr.heroku.com/"><img src="/images/powdr.png"></a>
          </span>

        </div>
        <div class="lower col-md-12 text-center">

          <span class="urban" ng-mouseover="urbanSherpa()">
              <a href="https://urbansherpa.herokuapp.com/"><img src="images/urabansherpa.png"></a>
          </span>
          
          <span class="gSc" ng-mouseover="gSchool()" ng-mouseleave="gSchool()">
              <a href="https://fathomless-temple-3790.herokuapp.com/"><img src="/images/gSchoolGavette.png" ng-class="{'opacity-zero': gSchoolbackground === true}"></a>
          </span>

          <span class="reddit" ng-mouseover="redditClone()" ng-mouseleave="redditClone()">
              <a href="https://sleepy-stream-7242.herokuapp.com/"><img src="images/redditClone.png"ng-class="{'opacity-zero': redditClonebackground === true}"></a>
          </span>


        </div>
     </div>
    </div>
<!-- </div> -->

    <div id="middleImg">

      <p>Hello</p>

    </div>

    <div id="next">
      <h1>ABOUT</h1>
     

    </div>