<div class="backgroundImg"></div>

<!-- <div class="container-fluid"> -->
    <div id="name">
        <h1>Paul D. Siskind</h1>
        <h3>Full-Stack Developer/Potter/Expedition Kayaker/Adventurer</h3>
    </div>


    <div id="middle">
     <h1><i class="fa fa-cog fa-spin fa-4x"></i>Portfolio</h1>

     <span ng-show="theRiverbackground" ng-click="theRiver()">
        <div ng-include src= "'partials/theRiver.html'"></div>
     </span>

     <span ng-show="urbanSherpabackground" ng-click="urbanSherpa()">
        <div ng-include src= "'partials/urban.html'"></div>
     </span>

     <span ng-show="thepowdrbackground" ng-click="thepowdr()">
        <div ng-include src= "'partials/powdr.html'"></div>
     </span>

     <span ng-show="gSchoolbackground" ng-click="gSchool()">
        <div ng-include src= "'partials/gSchool.html'"></div>
     </span>

     <span ng-show="redditClonebackground" ng-click="redditClone()">
        <div ng-include src= "'partials/reddit.html'"></div>
     </span>

     <div id="portfolioContainer" ng-hide="urbanSherpabackground || theRiverbackground || thepowdrbackground || gSchoolbackground || redditClonebackground">
        <div class="upper col-md-12 text-center">

          <span class="riverReport" ng-click="theRiver()">
              <img src="images/theriverreport.png">
          </span>
          
          <span class="powdr" ng-click="thepowdr()">
              <img src="/images/powdr.png">
          </span>

        </div>
        <div class="lower col-md-12 text-center">

          <span class="urban" ng-click="urbanSherpa()">
            <img src="images/urabansherpa.png">
          </span>
          
          <span class="gSc" ng-click="gSchool()">
              <img src="/images/gSchoolGavette.png">
          </span>

          <span class="reddit" ng-click="redditClone()">
              <img src="images/redditClone.png">
          </span>


        </div>
     </div>
    </div>
<!-- </div> -->

    <div id="middleImg">

      <p>Hello</p>

    </div>

    <div id="next">
      <h1>ABOUT</h1>
     

    </div>