<div class="preview">
  <div class="column">
    <div class="col-md-12">
      <div class="col-md-12 text-left title">
        <h2>Osso Ceramics</h2>
      </div>
      <div class="row">
        <div class="text-center col-md-8">
          <img src="images/ossoCeramics.png">
        </div>
        <div class="well col-md-3">
          <h4>An Artist Website</h4>
          <li>Angular</li>
          <li>node.js</li>
          <li>Express</li>
          <li>Heroku</li>
          <li><a href="https://ossoceramics.herokuapp.com/">Visit the Website</a></li>
          <a href="https://github.com/paulsiskind/pottery"><i class="fa fa-github fa-2x"></i>  GitHub Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>