<div class="preview">    
    <div class="text-center col-md-8">
               <img src="/images/powdr.png">
    </div>

    <div class="well col-md-4">
               <h4>A Ski Report App</h4>
               <li>Created as Team Project</li>
               <li>Angular</li>
               <li>node.js</li>
               <li>PSQL</li>
               <li>Express</li>
               <li>Heroku</li>
               <li><a href="http://powdr.heroku.com/">Visit the Website</a></li>
               <a href="https://github.com/nicgallardo/powdr"><i class="fa fa-github fa-2x"></i></a>

    </div>

</div>