<div class="preview">    
    <div class="text-center col-md-8">
                <a href="http://powdr.heroku.com/"><img src="/images/powdr.png"></a>
    </div>

    <div class="well col-md-4">
               <h4>A Ski Report App</h4>
               <li>Angular</li>
               <li>node.js</li>
               <li>PSQL</li>
               <li>Express</li>
               <li>Heroku</li>
               <a href="http://github.com/paulsiskind/"><i class="fa fa-github fa-2x"></i></a>

    </div>
    
</div>