<div class="preview">   
    <div class="text-center col-md-8">
                <img src="images/urabansherpa.png">
    </div>

    <div class="well col-md-4">
               <h4>A Messageboard App</h4>
               <li>Ruby</li>
               <li>Rails</li>
               <li>PSQL</li>
               <li>Express</li>
               <li>Heroku</li>
               <li><a href="https://urbansherpa.herokuapp.com/">Visit the Website</a></li>
               <a href="https://github.com/paulsiskind/urbanSherpa"><i class="fa fa-github fa-2x"></i> Github Repo</a>
    </div>
</div>